<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        Suppression de l'adresse   "{{ ip }}".
        <p>Retour a la Gestion des adresse IP
            <input type="button" name="lien1" value="service Adresse IP" onclick="self.location.href = '/serviceIP'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> </p>

    </body>
</html>
